.formulario
{
border-color: #33847E;
height: 35px;
width: 300px;
border-radius: 15px;
font-family: reboto;

}

.boton
{
    color: white;
    border: 3px solid #316F6A;
    border-radius: 15px;
    background-color: #316F6A;
    height: 35px;
    width: 300px;
    font-family: reboto;
   
}

.App-logo {
    height: 200px;
    width:200px;
    pointer-events: none;
    border-radius: 100px;
    margin-top: -350px;
  }


  .App-header {
    background-color: #B0E1DE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
